<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="/stylesheets/create-style.css">
</head>
<body>
<h1>Create a new car</h1>

<form method="POST" action="/create">
    <input type="text" name="make" placeholder="Enter your car manufacturer...">
    <input type="text" name="model" placeholder="Enter your car model...">
    <input type="number" name="year" placeholder="Year of manufacturing...">
    <input type="text" name="engine" placeholder="Enter your car's engine specs...">
    <textarea name="description" placeholder="Description..."></textarea>
    <input name="image" type="text" placeholder="Enter your image URL here...">
    <button type="submit">Submit</button>
</form>
</body>
</html>